.idea/
__pycache__/
build/
dist/
out/
LogOut/
music_cache/
/AudioProcessGUI/__pycache__
/classification_main/__pycache__
/classification_data/Music_Test
/Class/Test
/Class/__pycache__
/Class/Music_Test
test.py
txt2music_noise_test.py
/AudioProcessGUI/AudioProcess_MusicTest.py
/AudioProcessGUI/AudioProcess_MusicTest.ui
/ui_source
/Music
/voice_print_main/Test_Music
msc/
classification_models/
emotion_recog_models/
classification_macls/models/__pycache__
emotion_recog_macls/models/__pycache__
